.containerHead {
  height: 200px;
  display: flex;
  gap: 65px;
  align-items: center;
  padding: 60px 110px;
  box-sizing: border-box;
  border-bottom: #e5e5e5 2px solid;
}

h1 {
  font-size: 48px;
}

.container {
  margin-top: 400px;
  margin-bottom: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 77px;
}

.container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 57px;
}

.hide {
  color: #fff;
  cursor: not-allowed;
  pointer-events: none;
}

.show {
  color: #000;
}

h2 {
  width: 150px;
  height: 150px;
  background-color: #5c48d3;
  font-size: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 15px;
}

button {
  width: 53px;
  height: 53px;
  background-color: #fff;
  border-style: none;
  font-size: 70px;
}

.container > button {
  width: 150px;
  color: #fff;
  background-color: #5c48d3;
  border-style: none;
  border-radius: 15px;
  font-size: 32px;
}

.bold {
  font-weight: bold;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

footer {
  height: 200px;
  display: flex;
  justify-content: center;
}
